body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background:url(../img/binary.jpg);
	background-size: cover;
}

div.box{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50% , -50%);
	width:400px;
	padding: 40px;
	background:rgba(248,248,2550.3);
	box-sizing:content-box;
	box-shadow: 0 15px 25px rgba(0,0,0.5);
	border-radius: 10px;
}

div.box h2{
	font-weight: bold;
	margin:0 0 30px;
	padding:0px;
	color:black;
	text-align: center;
	font-family: 'Courier New';
}

div.box .inputBox{
	position :relative;
}

div.box .inputBox input{
	width:100%;
	padding: 10px 0;
	font-size: 16px;
	color: black;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	background: transparent;
}

div.box .inputBox label{
	
	position:absolute;
} 

div.box .inputBox input:focus ~ label
div.box .inputBox input:valid ~ label
{
	top: -10px;
	left:0;
	color:ghostwhite;
	font-size:12px;
}

div.box input[type="submit"]{
	background:transparent;
	border:none;
	outline:none;
	color:#fff;
	background:black;
	padding:10px 20px;
	cursor:pointer;
	border-radius: 5px;
}

h2:after{
	content: '|';
	margin-left: 5px;
	opacity: 1;
	animation: blink .9s infinite;
}


@keyframes blink{
	
	0%,100%{
		opacity:1;
	}

	50%{
		opacity: 0;
	}
	
}